.pad-wlf .pad-img{
	background-image: url('https://i.imgur.com/WtQv1uR.gif') !important;
}
.pad-add .pad-img{
	background-image: url('https://i.imgur.com/BievRqr.png') !important;
	background-size: 50%;
}

.pad-wlf .pad-info {
    	background: #0d1e38;
}
.pad-wlf nav{
	background: rgb(255 255 255 / 10%);
	border-bottom: 1px solid rgb(255 255 255 / 30%);
	backdrop-filter: blur(5px);
}
.pad-wlf nav:before {
   	content: " ";
   	background-image: url(https://i.imgur.com/9B7DS6y.png);
	top: -13px;
	left: 3px;
   	height: 15px;
   	width: 15px;
   	position: relative;
   	display: inline-table;
}
